@page "/"

@using AntennaCalibrator.View.Shared.Components
@using AntennaCalibrator.View.Shared.Model
@using AntennaCalibrator.View.Shared.Services
@using System.Globalization

@inject IFormFactor FormFactor
@inject PipeService PipeService

<PageTitle>Dashboard</PageTitle>

<div class="mx-auto w-full p-4 md:p-6">
    <div class="grid grid-cols-12 gap-4 md:gap-6">
        <div class="col-span-12 space-y-6 md:col-span-8">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-6">
                <MetricItem Title="Best chromsome genes ∈ [-1,1]" Value=@metric1.Item1 Percentage=@metric1.Item2 />
                <MetricItem Title="Best chromsome genes ∈ [-2,2]" Value=@metric2.Item1 Percentage=@metric2.Item2 />
            </div>

            <Card Title="Official PCV - Estimated PCV" Description="Difference, in millimetres, between official PCVs and those estimated by the genetic algorithm">
                <ChartContent>
                    <ConditionalFormattingTable Data="differences" />
                </ChartContent>
            </Card>
        </div>

        <div class="col-span-12 md:col-span-4">
            <DetailedCard Title="Fitness chart" Description="Fitness trends across generations" Metrics="metrics">
                <ChartContent>
                    <FitnessPlot @ref="_fitnessPlot" Fitness="fitness" />
                </ChartContent>
            </DetailedCard>
        </div>

        <div class="col-span-12">
            <Card Title="PCV trend" Description=@($"Comparison of the best {topChromosomes.Count - 1} chromosomes of each generation with actual values")>
                <ChartContent>
                    <ChromosomePlot @ref="_chromosomePlot" Chromosomes="topChromosomes" />
                </ChartContent>
            </Card>
        </div>
    </div>
</div>

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();

    private GenerationSummary? receivedData = null;
    private List<GenerationChromosome> topChromosomes = [];
    private List<double> fitness = [];
    private Dictionary<string, string> metrics = new();
    private double[,] differences = new double[0, 0];

    private (string, double) metric1 = ("0/19", 0.00);
    private (string, double) metric2 = ("0/19", 0.00);

    private FitnessPlot _fitnessPlot = null!;
    private ChromosomePlot _chromosomePlot = null!;
    private ConditionalFormattingTable _conditionalFormattingTable = null!;

    protected override void OnInitialized()
    {
        var args = Environment.GetCommandLineArgs();
        var pipeName = args.Length > 1 ? args[1] : "ChromosomePipe";

        PipeService.DataReceived += OnDataReceived;
        PipeService.StartListening(pipeName);
    }

    private void OnDataReceived(object? sender, string data)
    {
        InvokeAsync(async () =>
        {
            receivedData = System.Text.Json.JsonSerializer.Deserialize<GenerationSummary>(data);
            if (receivedData is null)
                return;

            topChromosomes.Clear();
            topChromosomes.AddRange(receivedData.TopChromosomes);

            var bestFitness = receivedData.TopChromosomes.MaxBy(c => c.Fitness)?.Fitness ?? 0.0;
            fitness.Add((double)bestFitness);

            metrics.Clear();
            var stats = receivedData.FitnessStatistic;
            metrics.Add("Best", stats.Best.ToString("F3", CultureInfo.InvariantCulture));
            metrics.Add("Average", stats.Average.ToString("F3", CultureInfo.InvariantCulture));
            metrics.Add("Standard Deviation", stats.StandardDeviation.ToString("F3", CultureInfo.InvariantCulture));

            CalculateDifferences();

            var refreshTasks = new List<Task>
                {
                _chromosomePlot?.RefreshAsync() ?? Task.CompletedTask,
                _fitnessPlot?.RefreshAsync() ?? Task.CompletedTask,
                _conditionalFormattingTable?.RefreshAsync() ?? Task.CompletedTask
                };

            await Task.WhenAll(refreshTasks);

            StateHasChanged();
        });
    }

    private void CalculateDifferences()
    {
        if (receivedData == null || receivedData.TopChromosomes.Count() == 0)
            return;

        var realPcv = receivedData.TopChromosomes.First().Genes;
        var angleCount = realPcv.Length;

        var chromosomes = receivedData.TopChromosomes.Where(c => c.Fitness > 0);
        var chromosomeList = chromosomes.ToList();
        int totalChromosomes = chromosomeList.Count;

        differences = new double[totalChromosomes, angleCount];

        for (int i = 0; i < totalChromosomes; i++)
        {
            var genes = chromosomeList[i].Genes;

            int count1 = 0;
            int count2 = 0;

            for (int j = 0; j < angleCount; j++)
            {
                var difference = realPcv[j] - genes[j];
                differences[i, j] = difference;

                if (i == 0)
                {
                    var absDifference = Math.Abs(difference);
                    if (absDifference <= 1) count1++;
                    if (absDifference <= 2) count2++;
                }
            }

            if (i == 0)
            {
                metric1 = ($"{count1}/{angleCount}", (double)count1 / angleCount * 100.0);
                metric2 = ($"{count2}/{angleCount}", (double)count2 / angleCount * 100.0);
            }
        }

    }

    public void Dispose()
    {
        PipeService.DataReceived -= OnDataReceived;
        PipeService.StopListening();
    }
}
