<Configuration>
	<Generation>
		<Number>50</Number>
		<StagnantNumber>10</StagnantNumber>
	</Generation>
	<PopulationSize>100</PopulationSize>
	<Crossover>
		<Probability>0.8</Probability>
		<DistributionIndex>10</DistributionIndex>
	</Crossover>
	<Mutation>
		<Probability>0.05</Probability>
		<Noise>1</Noise>
	</Mutation>
	<RoverRinex>
		<File>.\data\G31400ITA\G31400ITA_R_20231080000_01D_30S_MO.rnx</File>
		<File>.\data\G31400ITA\G31400ITA_R_20231090000_01D_30S_MO.rnx</File>
	</RoverRinex>
	<ReferenceRinex>
		<File>.\data\G32200ITA\G32200ITA_R_20231080000_01D_30S_MO.rnx</File>
		<File>.\data\G32200ITA\G32200ITA_R_20231090000_01D_30S_MO.rnx</File>
	</ReferenceRinex>
	<NavigationRinex>
		<File>.\data\nav\BRDC00WRD_R_20231080000_01D_MN.rnx</File>
		<File>.\data\nav\BRDC00WRD_R_20231090000_01D_MN.rnx</File>
	</NavigationRinex>
	<Sp3File>
		<File>.\data\eph\IGS0OPSRAP_20231080000_01D_15M_ORB.SP3</File>
		<File>.\data\eph\IGS0OPSRAP_20231090000_01D_15M_ORB.SP3</File>
	</Sp3File>
	<ErpFile>
		<File>.\data\eph\IGS0OPSRAP_20231080000_01D_01D_ERP.ERP</File>
		<File>.\data\eph\IGS0OPSRAP_20231090000_01D_01D_ERP.ERP</File>
	</ErpFile>
	<ReferencePosition>
		<X>4444692.8641</X>
		<Y>714664.1971</Y>
		<Z>4503302.7810</Z>
	</ReferencePosition>
	<RoverAntenna>TWIVSP6037L_T</RoverAntenna>
	<ReferenceAntenna>TWIVSP6037L</ReferenceAntenna>
	<MeanStdValues>
		<Mean>0</Mean>
		<Std>2.5</Std>
	</MeanStdValues>
	<StartValues>
		<Value>0.35</Value>
		<Value>-0.70</Value>
		<Value>48.82</Value>
		<Value>0.00</Value>
		<Value>-0.10</Value>
		<Value>-0.35</Value>
		<Value>-0.64</Value>
		<Value>-0.85</Value>
		<Value>-0.88</Value>
		<Value>-0.73</Value>
		<Value>-0.50</Value>
		<Value>-0.32</Value>
		<Value>-0.34</Value>
		<Value>-0.63</Value>
		<Value>-1.08</Value>
		<Value>-1.48</Value>
		<Value>-1.57</Value>
		<Value>-1.14</Value>
		<Value>-0.19</Value>
		<Value>1.00</Value>
		<Value>1.93</Value>
		<Value>2.02</Value>
	</StartValues>

</Configuration>