<header x-data="{menuToggle: false}"
        class="z-99999 sticky top-0 flex w-full border-gray-200 bg-white dark:border-gray-800 dark:bg-gray-900 lg:border-b">
    <div class="flex grow flex-col items-center justify-between lg:flex-row lg:px-6">
        <div class="flex w-full items-center justify-between gap-2 border-b border-gray-200 px-3 py-3 dark:border-gray-800 sm:gap-4 lg:justify-normal lg:border-b-0 lg:px-0 lg:py-4">
            <!-- Application nav menu button -->
            <div class="flex flex-shrink-0 items-center">
                <a href="/" class="flex items-center space-x-2 text-gray-900 transition-colors hover:text-gray-700">
                    <div class="flex items-center justify-start bg-gradient-to-r from-sky-900 to-sky-600 bg-clip-text text-xl text-transparent">
                        <div class="flex items-center gap-2">
                            <img src="_content/AntennaCalibrator.View.Shared/images/logo-ac.png" alt="Logo" class="ml-2 hidden h-8 w-8 rounded-full md:block" />
                        </div>
                        <span class="">
                            Antenna <span class="font-normal">Calibrator</span>
                        </span>
                    </div>
                </a>
            </div>
            <!-- Application nav menu button -->
        </div>

        <div class="shadow-theme-md flex w-full items-center justify-between gap-4 px-5 py-4 lg:flex lg:justify-end lg:px-0 lg:shadow-none">
            <div class="flex items-center gap-2 2xsm:gap-3">
            </div>
        </div>
    </div>
</header>
